@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scrollBackground {
  from { background-position: 0 0; }
  to { background-position: 0 100%; }
}
.bg-loop {
  animation: scrollBackground 20s linear infinite;
  background-size: cover;
  background-repeat: no-repeat;
}

@keyframes rotateImage {
  0%, 100% { transform: rotate(30deg); }
  /* 25%, 75% { transform: rotate(10deg); } */
  50% { transform: rotate(10deg); }
}

.rotate-back-and-forth {
  animation: rotateImage 2.5s ease-in-out infinite;
}

.bg-falling-stars {
  background-image:url('https://pgxxxhjpdbarogibubuk.supabase.co/storage/v1/object/public/Toneway/FalllingLongInvertedSmoller.png?t=2024-02-16T04%3A39%3A47.033Z')
}

.bg-music {
  background-image: url('https://pgxxxhjpdbarogibubuk.supabase.co/storage/v1/object/public/Toneway/fallingLongsmoller.png?t=2024-02-16T04%3A40%3A16.191Z');
}